# =============================================================================
# Python
# =============================================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# =============================================================================
# Virtual Environments
# =============================================================================

.venv/
venv/
env/

# =============================================================================
# Testing
# =============================================================================

.pytest_cache/
.mypy_cache/
.ruff_cache/

.coverage
.coverage.*
htmlcov/

# =============================================================================
# Packaging
# =============================================================================

*.egg-info/
.eggs/
build/
dist/

# =============================================================================
# Git
# =============================================================================

.git
.gitignore

# =============================================================================
# Environment
# =============================================================================

.env

# =============================================================================
# IDE
# =============================================================================

.vscode/
.idea/

# =============================================================================
# Misc
# =============================================================================

*.log
*.tmp
*.bak
